<div id="footer-wrapper">
	<div class="footer-top-wrapper">
		<div class="container_12">
			<div class="footer-item grid_3">
				<div id="text-2" class="widget">
					<div class="textwidget">
            <%= image_tag 'logo-s.png', class: 'mb20' %>
						<p>A WordPress Template from PersianArt,
							Copyright © 2013. All rights reserved.</p>
						<p>1234 Name of Road, City Name, D17 45GR.</p>
						<span class="block">Telephone: +1 123 456 7890</span>
						<span class="block">FAX: +1 123 456 7890</span>
						<span class="block">E-mail: mail@sample.com</span></div>
				</div>
			</div>
			<div class="footer-item grid_3">
				<div id="persianart_recentposts-3" class="widget">
					<h4>Recent Posts</h4>
					<ol class="widget-recent-post">
						<li>
							<span class="date"> July 3, 2012 </span>
							<div class="details-wrap">
								<h5>
									<a href="#"> post with video thumbnail inside </a>
								</h5>
								<div class="excerpt"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec... </div>
							</div>
							<a class="morelink" href="#">read more</a>
						</li>
						<li>
							<span class="date"> June 26, 2012 </span>
							<div class="details-wrap">
								<h5>
									<a href="#"> post with slider thumbnail inside </a>
								</h5>
								<div class="excerpt"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec... </div>
							</div>
							<a class="morelink" href="#">read more</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="footer-item grid_3">
				<div id="recent-comments-5" class="widget">
					<h4>Recent Comments</h4>
					<ul id="recentcomments">
						<li class="recentcomments">admin on
							<a href="#">post with video thumbnail</a>
						</li>
						<li class="recentcomments">admin on
							<a href="#">post with video thumbnail</a>
						</li>
						<li class="recentcomments">admin on
							<a href="#">post with video thumbnail</a>
						</li>
						<li class="recentcomments">admin on
							<a href="#">post with video thumbnail</a>
						</li>
						<li class="recentcomments">admin on
							<a href="#">post with slider thumbnail</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-item grid_3">
				<div id="persianart_contact-2" class="widget">
					<h4>Contact Me</h4>
					<form action="" id="widget-contactForm" method="post">
						<ol class="forms">
							<li>
								<label for="widget-contactName" data-rel="Name" class="display-none">Name </label>
								<input type="text" name="widget-contactName" id="widget-contactName" value="Name" class="requiredField " onFocus="if(this.value=='Name') this.value='';" onBlur="if(this.value=='') this.value='Name';">
							</li>
							<li>
								<label for="widget-email" data-rel="Email" class="display-none">Email</label>
								<input type="text" name="widget-email" id="widget-email" value="Email" class="requiredField email " onFocus="if(this.value=='Email') this.value='';" onBlur="if(this.value=='') this.value='Email';">
							</li>
							<li class="textarea">
								<label for="widget-commentsText" data-rel="Message" class="display-none">Message</label>
								<textarea name="widget-comments" id="widget-commentsText" rows="20" cols="30" class="requiredField " onFocus="if(this.value=='Message') this.value='';" onBlur="if(this.value=='') this.value='Message';">Message</textarea>
							</li>
							<li class="screenReader display-none">
								<label for="widget-checking" class="screenReader">If you want to submit this form, do not enter anything in this field</label>
								<input type="text" name="widget-checking" id="widget-checking" class="screenReader" value>
							</li>
							<li class="buttons">
								<input type="hidden" name="widget-submitted" id="widget-submitted" value="true">
								<input type="submit" id="widget-contact-submit" value="SUBMIT">
							</li>
						</ol>
					</form>
				</div>
			</div>
		</div>
		<!-- end of .container_12 -->
	</div>
	<!-- end of #footer-top-wrapper -->
	<div class="footer-bot-wrapper">
		<div id="copyright" class="container_12">
			
			<div class="copright">
				<div class="menu-footer-container">
					<ul id="footer-menu" class="menu">
						<li><span class="divider">/</span>
							<a href="index-2.html">Home</a>
						</li>
						<li><span class="divider">/</span>
							<a href="blog-with-right-sidebar.html">Blog</a>
						</li>
						<li><span class="divider">/</span>
							<a href="faq.html">FAQs</a>
						</li>
						<li><span class="divider">/</span>
							<a href="contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end of #footer-bot-wrapper -->
</div>
<!-- end of #footer-wrapper -->
<div id="backtotop">
  <span>
    <span class="triangle"></span>
  </span>
</div>